modules = ["nodejs-20", "python-3.12", "web"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/rdm-hub: web"

[[workflows.workflow]]
name = "artifacts/rdm-hub: web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=22942 BASE_PATH=/ pnpm --filter @workspace/rdm-hub run dev"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
DATABASE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxiYmlqemltbnlkdm9kdGZiam96Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3ODk3ODMsImV4cCI6MjA5ODM2NTc4M30.xAddScAljKE_Duq_fNyXiIHnuuguMF3ACaaiWSmQ3fo"
DATABASE_SUPABASE_PUBLISHABLE_KEY = "sb_publishable_WMDEJLTID6O0xJkG7uAohA_coPV_Reb"
DATABASE_SUPABASE_URL = "https://lbbijzimnydvodtfbjoz.supabase.co"
DATABASE_POSTGRES_DATABASE = "postgres"
DATABASE_POSTGRES_HOST = "db.lbbijzimnydvodtfbjoz.supabase.co"
DATABASE_POSTGRES_PASSWORD = "dHgjv5O3rSlMyrjP"

[objectStorage]
defaultBucketID = "replit-objstore-ada06ee1-bbce-4cd4-8773-f20ba74147c6"
