openapi: 3.0.3
info:
  title: Isabella Villaseñor AI Internal API (ISA-API)
  version: v.GENESIS
  description: |
    ISA-API v.GENESIS define la interfaz interna soberana de Isabella Villaseñor AI
    como sistema operativo cognitivo del ecosistema TAMV Online / RDM Digital.
    No depende de ningún proveedor externo de IA; describe funciones de skills,
    kernel y gobernanza, y permite la orquestación de agentes y servicios territoriales.

    Esta especificación es de uso interno soberano y se considera parte de la
    Constitución Técnica de Isabella. No se expone directamente a clientes externos.

    Gobernanza:
      - Todas las llamadas deben usar HTTPS y autenticación fuerte.
      - Se exige validación estricta de esquema de entrada y salida.
      - Las respuestas de error siguen el formato ErrorResponse estándar.

servers:
  - url: https://isabella.internal.api
    description: Endpoint interno soberano de Isabella (red TAMV/RDM)

tags:
  - name: ORION
    description: Cognitive Archaeology Engine
  - name: SOPHIA
    description: Deep Research and Synthesis Engine
  - name: ARGUS
    description: Future Impact Simulation Engine
  - name: MNEMOS
    description: Civilizational Preservation Engine
  - name: LUMEN
    description: Constitutional Governance Engine
  - name: KERNEL
    description: Capacidades cognitivas avanzadas del núcleo de Isabella
  - name: TOPOLOGY
    description: Arquitectura de la Heptafederación TAMV y Nodo Cero

components:
  securitySchemes:
    IsabellaApiKey:
      type: apiKey
      in: header
      name: X-Isabella-Api-Key
      description: API key interna para orquestación de servicios dentro de la red TAMV/RDM.
    IsabellaTerritorialToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Token territorial (JWT) emitido por ANUBIS/F2 para acciones ligadas a territorio.

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
        message:
          type: string
        trace_id:
          type: string
          description: ID de traza interno para correlación entre subsistemas.
      required: [error]
      examples:
        unauthorized:
          summary: Token inválido o ausente
          value:
            error: "UNAUTHORIZED"
            code: "AUTH_401"
            message: "Token territorial inválido o no proporcionado"
            trace_id: "trace-xyz-123"
        bad_request:
          summary: Petición inválida
          value:
            error: "BAD_REQUEST"
            code: "REQ_400"
            message: "El cuerpo de la petición no cumple el esquema requerido"
            trace_id: "trace-abc-789"

    OrionSearchRequest:
      type: object
      properties:
        context_id:
          type: string
          description: Contexto lógico (territorio, proyecto, federación).
        query:
          type: string
        scopes:
          type: array
          items:
            type: string
        filters:
          type: object
      required: [query]

    OrionSearchResponse:
      type: object
      properties:
        artifacts:
          type: array
          items:
            $ref: '#/components/schemas/Artifact'
        relations:
          type: array
          items:
            $ref: '#/components/schemas/Relation'
        gaps:
          type: array
          items:
            $ref: '#/components/schemas/Gap'
        trace_id:
          type: string

    Artifact:
      type: object
      properties:
        artifact_id:
          type: string
        title:
          type: string
        summary:
          type: string
        source:
          type: string
        confidence_score:
          type: number
          format: float
      required: [artifact_id, title]

    Relation:
      type: object
      properties:
        from_artifact_id:
          type: string
        to_artifact_id:
          type: string
        relation_type:
          type: string
        strength:
          type: number
          format: float
      required: [from_artifact_id, to_artifact_id, relation_type]

    Gap:
      type: object
      properties:
        description:
          type: string
        severity:
          type: string
        suggested_action:
          type: string
      required: [description]

    SophiaResearchRequest:
      type: object
      properties:
        research_request:
          type: string
        sources:
          type: array
          items:
            type: string
        depth_level:
          type: integer
        constraints:
          type: object
      required: [research_request]

    SophiaResearchResponse:
      type: object
      properties:
        synthesis:
          type: string
        references:
          type: array
          items:
            $ref: '#/components/schemas/Reference'
        knowledge_gaps:
          type: array
          items:
            $ref: '#/components/schemas/Gap'
        trace_id:
          type: string

    Reference:
      type: object
      properties:
        source_id:
          type: string
        type:
          type: string
        link:
          type: string
        trust_level:
          type: number
          format: float

    ArgusSimulationRequest:
      type: object
      properties:
        scenario_definition:
          type: object
        time_horizon:
          type: string
        dimensions:
          type: array
          items:
            type: string
        constraints:
          type: object
      required: [scenario_definition]

    ArgusSimulationResponse:
      type: object
      properties:
        simulations:
          type: array
          items:
            $ref: '#/components/schemas/Simulation'
        risk_profile:
          $ref: '#/components/schemas/RiskProfile'
        recommendations:
          type: array
          items:
            type: string
        trace_id:
          type: string

    Simulation:
      type: object
      properties:
        scenario_id:
          type: string
        outcomes:
          type: object
        assumptions:
          type: array
          items:
            type: string

    RiskProfile:
      type: object
      properties:
        overall_risk_level:
          type: string
        dimension_risks:
          type: array
          items:
            $ref: '#/components/schemas/DimensionRisk'

    DimensionRisk:
      type: object
      properties:
        dimension:
          type: string
        probability:
          type: number
          format: float
        severity:
          type: number
          format: float

    MnemosRecordRequest:
      type: object
      properties:
        event:
          type: object
        category:
          type: string
        evidence:
          type: array
          items:
            type: object
        retention_policy:
          type: string
      required: [event, category]

    MnemosRecordResponse:
      type: object
      properties:
        record_id:
          type: string
        canonical_entry:
          $ref: '#/components/schemas/MnemosRecordCanonical'
        trace_graph:
          type: object

    MnemosRecordCanonical:
      type: object
      properties:
        record_id:
          type: string
        who:
          type: string
        what:
          type: string
        when:
          type: string
        where:
          type: string
        why:
          type: string
        evidence:
          type: array
          items:
            type: object

    LumenEvaluateRequest:
      type: object
      properties:
        action_request:
          type: object
        policy_context:
          type: object
        risk_level:
          type: string
      required: [action_request]

    LumenEvaluateResponse:
      type: object
      properties:
        decision:
          type: string
        rationale:
          type: string
        log_entry:
          type: object

    ResonanceUpdateRequest:
      type: object
      description: Esquema de datos para la capa de Resonancia Somática Heptafederada
      properties:
        federation_nodes:
          type: array
          items:
            $ref: '#/components/schemas/FederationNodeState'
        mesh_state:
          $ref: '#/components/schemas/MeshState'
        timestamp:
          type: string
          format: date-time
      required: [federation_nodes, mesh_state, timestamp]

    ResonanceUpdateResponse:
      type: object
      properties:
        resonance_state:
          type: string
        friction_zones:
          type: array
          items:
            $ref: '#/components/schemas/FrictionZone'
        redirect_plan:
          type: object

    FederationNodeState:
      type: object
      description: Estado de cada nodo de la Heptafederación TAMV
      properties:
        node_id:
          type: string
        role:
          type: string
        health_status:
          type: string
        latency_ms:
          type: number
          format: float
        packet_loss_rate:
          type: number
          format: float
        attack_detected:
          type: boolean

    MeshState:
      type: object
      properties:
        connected_nodes:
          type: integer
        isolated_nodes:
          type: integer
        average_latency_ms:
          type: number
          format: float

    FrictionZone:
      type: object
      properties:
        node_id:
          type: string
        severity:
          type: string
        description:
          type: string

    TimeUpAnchorRequest:
      type: object
      properties:
        anchor_id:
          type: string
        time_window:
          type: string
        reason:
          type: string
      required: [anchor_id]

    TimeUpAnchorResponse:
      type: object
      properties:
        snapshot_state:
          type: object
        diff_analysis:
          type: object

    HeptafederationTopology:
      type: object
      description: Arquitectura de los nodos de la Heptafederación TAMV
      properties:
        federations:
          type: array
          items:
            $ref: '#/components/schemas/FederationNode'
        links:
          type: array
          items:
            $ref: '#/components/schemas/FederationLink'

    FederationNode:
      type: object
      properties:
        node_id:
          type: string
        name:
          type: string
        role:
          type: string
        location:
          type: string

    FederationLink:
      type: object
      properties:
        from_node_id:
          type: string
        to_node_id:
          type: string
        link_type:
          type: string

    NodoCeroWorkflow:
      type: object
      description: Flujo de trabajo para la implementación del Nodo Cero en Real del Monte
      properties:
        stages:
          type: array
          items:
            $ref: '#/components/schemas/NodoCeroStage'
        owner:
          type: string
        status:
          type: string

    NodoCeroStage:
      type: object
      properties:
        stage_id:
          type: string
        name:
          type: string
        description:
          type: string
        dependencies:
          type: array
          items:
            type: string

paths:
  /isabella/orion/search:
    post:
      operationId: orionSearch
      summary: Arqueología cognitiva de contexto
      tags: [ORION]
      security:
        - IsabellaApiKey: []
        - IsabellaTerritorialToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrionSearchRequest'
      responses:
        '200':
          description: Resultados de búsqueda y relaciones
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrionSearchResponse'
        '400':
          description: Petición inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /isabella/orion/artifact/{artifact_id}:
    get:
      operationId: getOrionArtifact
      summary: Obtener artefacto y trazabilidad
      tags: [ORION]
      security:
        - IsabellaApiKey: []
        - IsabellaTerritorialToken: []
      parameters:
        - name: artifact_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Artefacto y su historia
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
        '404':
          description: Artefacto no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /isabella/sophia/research:
    post:
      operationId: sophiaResearch
      summary: Investigación profunda y síntesis
      tags: [SOPHIA]
      security:
        - IsabellaApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SophiaResearchRequest'
      responses:
        '200':
          description: Síntesis investigativa y referencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SophiaResearchResponse'
        '400':
          description: Petición inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /isabella/argus/simulate:
    post:
      operationId: argusSimulate
      summary: Simulación de escenarios e impacto
      tags: [ARGUS]
      security:
        - IsabellaApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArgusSimulationRequest'
      responses:
        '200':
          description: Escenarios, perfil de riesgo y recomendaciones
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArgusSimulationResponse'
        '400':
          description: Petición inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /isabella/mnemos/record:
    post:
      operationId: mnemosRecord
      summary: Registrar evento en memoria civilizatoria
      tags: [MNEMOS]
      security:
        - IsabellaApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MnemosRecordRequest'
      responses:
        '201':
          description: Registro creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MnemosRecordResponse'
        '400':
          description: Petición inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /isabella/mnemos/record/{record_id}:
    get:
      operationId: getMnemosRecord
      summary: Obtener registro canónico
      tags: [MNEMOS]
      security:
        - IsabellaApiKey: []
      parameters:
        - name: record_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Entrada canónica y su grafo de trazabilidad
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MnemosRecordCanonical'
        '404':
          description: Registro no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /isabella/lumen/evaluate:
    post:
      operationId: lumenEvaluate
      summary: Evaluar acción según gobernanza constitucional
      tags: [LUMEN]
      security:
        - IsabellaApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LumenEvaluateRequest'
      responses:
        '200':
          description: Decisión, racional y log de auditoría
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LumenEvaluateResponse'
        '400':
          description: Petición inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /isabella/kernel/resonance/update:
    post:
      operationId: kernelResonanceUpdate
      summary: Actualizar estado de Resonancia Somática Heptafederada
      tags: [KERNEL, TOPOLOGY]
      security:
        - IsabellaApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResonanceUpdateRequest'
      responses:
        '200':
          description: Estado de resonancia, zonas de fricción y plan de redirección
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResonanceUpdateResponse'
        '400':
          description: Petición inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /isabella/kernel/timeup/anchor:
    post:
      operationId: kernelTimeUpAnchor
      summary: Anclar y recuperar estado temporal (Crono-Anamnesis)
      tags: [KERNEL]
      security:
        - IsabellaApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimeUpAnchorRequest'
      responses:
        '200':
          description: Snapshot de estado y análisis de diferencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeUpAnchorResponse'
        '400':
          description: Petición inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /isabella/topology/heptafederation:
    get:
      operationId: getHeptafederationTopology
      summary: Descripción de nodos de la Heptafederación TAMV
      tags: [TOPOLOGY]
      security:
        - IsabellaApiKey: []
      responses:
        '200':
          description: Mapa de nodos, roles y enlaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeptafederationTopology'

  /isabella/topology/nodo_cero:
    get:
      operationId: getNodoCeroWorkflow
      summary: Estado y flujo de trabajo del Nodo Cero (Real del Monte)
      tags: [TOPOLOGY]
      security:
        - IsabellaApiKey: []
      responses:
        '200':
          description: Pipeline operativo del Nodo Cero
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodoCeroWorkflow'

security:
  - IsabellaApiKey: []
  - IsabellaTerritorialToken: []
